<p>employee-create works!</p>
<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="processForm(form)">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <br>
            <input matInput formControlName="name" minlength="10" #fullName />
            <mat-hint>Please enter your full name</mat-hint>
            <mat-error *ngIf="form.controls['name'].errors?.['required']">Name is a required field</mat-error>
            <mat-error *ngIf="form.controls['name'].errors?.['minlength']">Minimum 10 characters required for name field</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <br>
            <input matInput formControlName="email" #email />
            <mat-icon matSuffix>mail_outline</mat-icon>
            <mat-hint>Please enter your organisation email address</mat-hint>
            <mat-error *ngIf="form.controls['email'].errors?.['required']">Email is a required field</mat-error>
            <mat-error *ngIf="form.controls['email'].errors?.['email']">Invalid email format</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <br>
            <textarea matInput formControlName="address" #address></textarea>
            <mat-icon matSuffix>contact_mail</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select matNativeControl formControlName="country" #country>
                <mat-option value="Singapore">Singapore</mat-option>
                <mat-option value="Malaysia">Malaysia</mat-option>
                <mat-option value="China">China</mat-option>
                <mat-option value="India">India</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div class="row">
            <mat-label>Gender</mat-label>
            <mat-radio-group formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput formControlName="birthdate" [matDatepicker]="picker"/>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br><br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>